html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    background: linear-gradient(to right, #7d0101, #1b0451);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;
}

.formdiv, .box {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.box {
    margin-bottom: 5rem;
}
input, select {
    border-radius: 2rem;
    outline: none;
    background-color: rgb(236, 236, 236);
    height: 3rem;
    width: 30rem;
    padding: 0.5rem 2rem;
    font-size: 2rem;
}

select {
    height: 4rem;
}

h1, h2, h3, p, a {
    color: wheat;
}

button {
    border: none;
    border-radius: 1rem;
    width: 14rem;
    height: 4rem;
    background-color: black;
    color: white;
}

button:hover {
    border: 1px solid navajowhite;
}

table {
    border-radius: 1rem;
}

table, th, td, tr {
    border: 2px solid #c4dcf3;
    border-collapse: collapse;
    text-align: center;
    color: wheat;
}

td, th {
    padding: 0 1.2rem;
    height: 8rem;
    font-weight: bold;
}

th {
    background-color: #360c04;
}

tr {
    padding: 2rem 0;
}