html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(to right, #7d0101, #1b0451);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;
}

.div1 {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.div2 {
    display: flex;
    flex-direction: column;
    margin-left: 70rem;
}

input {
    border-radius: 2rem;
    outline: none;
    background-color: rgb(236, 236, 236);
    height: 3rem;
    width: 30rem;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    margin-bottom: 3rem;

}

button {
    border: none;
    border-radius: 1rem;
    width: 14rem;
    height: 4rem;
    background-color: black;
    color: white;
    margin-top: 3rem;
}

button:hover {
    border: 1px solid navajowhite;
}

.box {
    display: flex;
    justify-content: center;
}

.bigdiv {
    display: flex;
}

h1, h2, p {
    color: wheat;
}

.labels {
    margin-right: 5rem;
}

p, ol, li, h1, h2, h3, h4, h5 ,h6 {
    cursor: default;
    user-select: none;
}
